.project {
  width: 85%;
  height: 100%;
  margin: 0 auto;
  padding: 80px 0px;
  overflow: hidden scroll;
  display: flex;
  flex-direction: column;
  gap: 30px 0px;
  // position: relative;

  &-filter {
    width: 100%;
    height: 7%;
    display: flex;
    align-items: center;
    position: fixed;
    top: 80px;
    z-index: 1;
    margin: 0 auto;
    gap: 0px 10px;
    padding-top: 20px;
    &-btn {
      width: 80px;
      height: 30px;
      border: none;
      border-radius: 10px;
      font-size: 20px;
      color: #000;
      background: #fff;
      cursor: pointer;
      transition: 0.5s ease-in-out;

      &:hover {
        letter-spacing: 0.5px;
      }
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &-container {
    display: flex;
    width: 100%;
    height: 200px;

    justify-content: space-between;

    &-box {
      width: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border: 2px solid #fff;
      border-radius: 0px 20px 0px 20px;
      box-shadow: 0px 0px 10px 0px #fc0;
      padding: 15px;
      gap: 20px 0px;
      transition: 1s ease-in-out;
      filter: grayscale(100%);

      &:hover {
        filter: grayscale(0%);
      }

      &-image {
        width: 230px;
        // width: 100%;
        // height: 100%;
        height: 135px;
        object-fit: contain;
        border-radius: 0px 10px 0px 10px;
        animation: clip 1s ease;
      }
    }

    &-logo {
      width: 10%;
      height: 100%;
    }
  }
}

.blue {
  color: #fff;
  background: #0ea4d6;
}
.red {
  color: #fff;
  background: #da0808;
}
.yellow {
  color: #fff;
  background: #fc0;
}
