@import "../../style/_mixins.scss";
#footer {
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0;

  .content {
    width: 85%;
    padding: 40px 0 0 0;
    border-top: 1px solid #e0e0e0;
    display: flex;
    justify-content: space-between;
    @include mobile {
      flex-direction: column;
      align-items: center;
      gap: 20px 0;
      padding: 20px 0 20px 0;
    }
    &-direction {
      display: flex;
      gap: 0 20px;
      &-link {
        &:hover {
          text-shadow: 1px 1px 2px #d6a213, 0 0 1em #d6a213, 0 0 0.2em #d6a213;
        }
      }
    }
  }
}
