@import "../../style/_animations.scss";
@import "../../style//_mixins.scss";
@import "../../style/_media.scss";

// styles for header
#header {
  width: 100%;
  padding: 15px;

  @include mobile {
    padding: 5px;
  }

  @include mobile {
    position: fixed;
    top: 0;
    z-index: 11;
  }

  .navigate {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0px 0px;

    @include mobile {
      padding: 0;
    }

    &-view {
      display: flex;
      align-items: center;
      animation: fadeRight 1s ease;

      &-img {
        width: 50px;
        object-fit: cover;

        @include mobile {
          width: 35px;
        }
      }

      &-content {
        position: relative;
        font-size: 25px;
        padding-top: 40px;
        left: -20px;
        background-color: transparent;

        @include mobile {
          padding-top: 30px;
        }

        &-point {
          color: #d6a213;
        }
      }
    }

    &-direction {
      display: flex;
      align-items: center;
      gap: 0px 10px;
      animation: fadeLeft 1s ease;

      @include mobile {
        width: 80%;
        height: 60px;
        display: flex;
        position: fixed;
        right: -100%;
        font-size: 13px;
        background: #000;
        transition: all 0.7s ease-in-out;
        gap: 0 5px;
      }

      &-link {
        font-size: 18px;

        @include mobile {
          font-size: 16px;
        }

        &:hover {
          text-shadow: 1px 1px 2px #d6a213, 0 0 1em #d6a213, 0 0 0.2em #d6a213;
        }
      }
      &-language {
        width: 50px;
        height: 30px;
        display: flex;
        border: none;
        border-radius: 5px;
        outline: none;
        cursor: pointer;
        box-shadow: 0 0 10px #fc0;
        background-color: #fc0;
        color: #fff;
        margin-left: 20px;

        @include mobile {
          margin-left: 5px;
        }
      }
    }
    &-menu {
      display: none;
      width: 40px;
      height: 40px;

      @include mobile {
        display: block;
      }
    }
  }
}
// active link
.active {
  text-shadow: 1px 1px 2px #d6a213, 0 0 1em #d6a213, 0 0 0.2em #d6a213;
}
