@import "../../style/_mixins.scss";

.ability {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 800px;

  @include mobile {
    height: 836px !important;
    padding: 80px 5px 100px 5px !important;
  }

  &-first,
  &-second,
  &-third,
  &-fourth {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
  }

  &-first {
    width: 50%;
    animation: matrix 6s ease;

    @include mobile {
      width: 70% !important;
    }
  }

  &-second {
    width: 71%;
    margin-top: -120px;
    animation: matrix 7s ease;

    @include mobile {
      margin-top: -34px !important;
      width: 100% !important;
    }
  }

  &-third {
    width: 50%;
    margin-top: -115px;
    animation: matrix 8s ease;

    @include mobile {
      width: 70% !important;
      margin-top: -35px !important;
    }
  }

  &-fourth {
    width: 29%;
    margin-top: -110px;
    animation: matrix 9s ease;

    @include mobile {
      width: 40% !important;
      margin-top: -32px !important;
    }
  }

  &-fifth {
    width: 8%;
    margin-top: -100px;
    background-color: transparent;
    animation: matrix 10s ease;

    @include mobile {
      margin-top: -30px !important;
      width: 10% !important;
    }
  }
}

.hexagon {
  position: relative;
  width: 140px;
  height: 200px;
  background: #fff;
  border-radius: 1.9em;
  transition: all 0.6s ease;
  margin: 1% 4%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  @include mobile {
    width: 38px !important;
    height: 62px !important;
    border-radius: 0.18em !important;
  }

  img {
    width: 100px;
    position: absolute;
    background-color: transparent;
    z-index: 1;
    object-fit: contain;

    @include mobile {
      width: 30px !important;
    }
  }

  &:hover {
    transform: scale(1.3);
    cursor: pointer;
  }
}

.hexagon::before,
.hexagon::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background: inherit;
  border-radius: inherit;
}

.hexagon::before {
  transform: rotate(60deg);
}

.hexagon::after {
  transform: rotate(-60deg);
}
