@import "../../style/_mixins.scss";
.notFound {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;

  div {
    width: 100% !important;
    height: 900px;
    @include mobile {
      height: 85vh !important;
    }
  }
}
